@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
  background: url("../../../assets/front.jpeg") no-repeat center center;
  background-size: cover; 
  font-family: 'Mulish', sans-serif;    
  backdrop-filter: blur(7px);
}

.banner {
  position: relative; 
  border-radius: 10px 0 0 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(64, 64, 64, 0.9); 
  border-radius: 10px 0 0 10px; /* Match the border-radius */
  z-index: 1; /* Place the overlay below the content */
}

.banner > * {
  position: relative; /* Ensure the content is above the overlay */
  z-index: 2;
}

.banner img {
  margin-bottom: 20px;
  max-width: 100%; 
}

.form {
  background: #fff;
  border-radius: 0 10px 10px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.form h2 {
  margin-bottom: 20px;
}

.form img {
  height: 70px;
  width: 70px; 
}

.form form {
  width: 100%;
}

.form input {
  margin-bottom: 10px;
}

.form button {
  width: 100%;
}

#forgot {
  opacity: 0.6;
}

#forgot:hover {
  opacity: 1;
}

.link {
  margin-left: 100px;
}

.invalid-feedback {
  display: block; 
  color: red;
}

.alert {
  width: 100%;
  text-align: center;
}
