/* ForgotPassword.css */
.recruiterforgot-container {
    background: url("../../../Assets/forgotpassword.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    font-family: 'Mulish', sans-serif; 
  }
  
  .recruiterforgot-password-card {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  }
  .form-label {
    color: #333;
  }
  
  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }
  
  .colored-toast {
    background-color: #f27474; /* Change this color as per your requirement */
  }
  .logo {
    width: 70px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 40%
  }