# Ignore node_modules from the host
node_modules

# Ignore npm-debug.log, Yarn error logs
npm-debug.log
yarn-error.log

# Ignore Dockerfile and .dockerignore (not needed in the image)
Dockerfile
.dockerignore

# Ignore local environment configuration files
.env
.env.local
.env.*.local

# Ignore test-related files
coverage
*.spec.js
*.test.js

# Ignore git-related files and directories
.git
.gitignore

# Ignore IDE/editor configuration and system-specific files
.vscode/
*.swp
*~.swp
*.sublime-project
*.sublime-workspace
*.idea/
.DS_Store
Thumbs.db

# Ignore any unnecessary build files
/dist
/build