.company-profile-container {
    max-width: 800px;
    margin: auto;
}

.company-profile-details {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.company-profile-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.company-profile-detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.company-profile-detail-icon-text {
    display: flex;
    align-items: center;
}

.company-profile-detail-icon-text p {
    margin-left: 0.5rem;
    font-size: 14px;
}

.company-profile-detail-icon-text svg {
    font-size: 1.5rem;
}

.company-profile-detail-row a {
    color: #007bff;
    text-decoration: none;
}

.company-profile-detail-row a:hover {
    text-decoration: underline;
}

.company-logo-container {
    position: relative;
    width: 130px; /* Set the width of the container */
    height: 130px; /* Set the height of the container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.company-logo-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.logo-change-icon {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-change-icon svg {
    font-size: 18px;
    color: #007bff;
}
