@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

.navbar.adminnav {
  padding: 0.5rem 1rem;
  font-family: 'Mulish', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e2e0;
}

.navbar-brand img {
  margin-left: 1rem;
}

.dropdown-toggle::after {
  display: none;
}

.navbar .nav-link {
  font-size: 0.875rem;
  color: #2d2d2d !important;
}

.navbar .btn-link {
  font-size: 0.875rem;
  color: #2d2d2d;
  text-decoration: none;
}

.navbar .btn-link:hover,
.navbar .nav-link:hover {
  color: #2557a7 !important;
}

.navbar-light {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e2e0;
}
