
.custom-navbar .nav-link {
  color: #333;
  font-family: 'Mulish', sans-serif;
}

.custom-navbar .navbar-brand img {
  height: 80px;
  width: 150px;
}

.custom-navbar .icon-btn {
  font-size: 1.5rem;
  color: #333;
  margin-right: 10px;
}

.custom-navbar .employer-link {
  color: #333;
  font-weight: bold;
  margin-left: 20px;
}

.custom-font {
  font-family: 'Mulish', sans-serif;
}

.navbar-divider {
  width: 1px;
  height: 24px;
  background-color: #ccc;
  margin: 0 20px;
  display: inline-block;
}
