.category-management-panel {
    font-family: 'Mulish', sans-serif;
    display: flex;
    background-color: #f4f4f9;
    height: 100vh;
    margin-left: 150px; /* Adjusted to match the width of the side navigation */
    overflow: hidden; /* Ensures no overflow within the admin panel */
}

.category-management-content-wrapper {
    flex-grow: 1;
    max-width: calc(100% - 250px); /* Adjusted to fit within the viewport */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /* Allows internal scrolling if necessary */
}

.category-management-header {
    background-color: #343a40;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.category-management-header h1 {
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.category-management-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-management-table {
    font-size: 14px;
}

.category-management-table thead {
    background-color: #007bff;
    color: #fff;
}

.category-management-table th {
    font-weight: 700;
}

.category-management-table td {
    vertical-align: middle;
}

.category-management-btn {
    font-weight: 400;
    padding: 5px 10px;
    font-size: 12px;
}

.category-management-add-category-button {
    margin-bottom: 10px;
    margin-left: 980px;
    max-width: 100px;
}

.category-management-pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.category-management-pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.category-management-pagination li {
    margin: 0 5px;
}

.category-management-pagination li a {
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.category-management-pagination li a:hover {
    background-color: #007bff;
    color: white;
}

.category-management-pagination li.active a {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
